@model Project
<div class="proj-panel">
    <div class="proj-title">
        <h4><u>@Model.Name</u></h4>
        <p>@Model.Repo?.RepoId</p>
        <p>@Model.Repo?.Branch</p>
    </div>
    <div class="proj-actions">
        <a asp-action="Index" asp-controller="Project" class="button button-details">Details</a>
    </div>

</div>